<div id="film-show">
  <div class="media">

    <div class="media-left">
      <a href= <%= @film.large_url %> >
        <%= image_tag(@film.large_url, alt: "movie_poster", class: "media-object") %>
      </a>
    </div>

    <div class="media-body">
    <h3 class="media-heading"><%= @film.title %><small> released: <%= @film.release_date %></small><small> approval rating: <%= Film.approval_rating(@film.title) %>% <% if Film.rated(@film.title) == "Good" %> <%= image_tag 'smiley_face.png' %><% elsif Film.rated(@film.title) == "Bad" %><%= image_tag 'frowny_face.png' %><% else %><%end%></small><br><small><%= @film.genres.map{|genre| genre.title}.join(", ") %></small></h3>

      <div id="film-description"><%= @film.description %></div>
    </div>

  </div>

  <div id="film-reviews">

      <% @film.reviews.each do |review| %>

        <h4><%= review.content %></h4>
          <ul id="comments">
            <% review.comments.each do |comment| %>
              <li><%= comment.content %></li>
            <% end %>

            <%= link_to "Add Comment", new_film_review_comment_path(@film, review), id: 'new-comment', remote: true %>
            <div id="task-form"></div>

          </ul>
      <% end %>

  </div>
</div>